<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>装修贷款计算器</title>
	</head>
	<link href="css/style.css" type="text/css" rel="stylesheet"/>
	<body>
		<div class="counter main_1000 clearfix">
			<p class="banner_top">
				<img src="images/banner_sma.jpg" alt=""/>
			</p>
			<!--tab切换-->
			<div class="tab_list">
				<ul class="clearfix">
					<li>房贷计算器</li>
					<li>税费计算器</li>
					<li>提前还贷计算器</li>
					<li>公积金贷款额度查询</li>
					<li>购房能力评估</li>
					<li class="on">装修贷款计算器</li>
				</ul>
			</div>
			<table>
				<tr>
					<!--左侧列表-->
					<td class="counter_list counter_list_width6">
						<ul class="clearfix fl">
							<li>
								<span><b>*</b>贷款种类：</span>
								<div class="clearfix">
									<p class="select">
										<input type="" value="个人装修贷款" name="" readonly="readonly"/>
										<i></i>
									</p>
									<ul class="option none">
										<li>个人装修贷款</li>
										<li>个人购车贷款</li>
									</ul>
								</div>
							</li>
							<li class="">
								<span><b>*</b>贷款金额：</span>
								<input value="" placeholder name=""/>
								<i>万元</i>
							</li>
							<li class="">
								<span><b>*</b>贷款期限：</span>
								<input value="" name=""/>
								<i>个月</i>
							</li>
							<li class="">
								<span><b>*</b>年利率：</span>
								<input value="" placeholder name=""/>
								<i>%</i>
							</li>
							<li class="">
								<span>月管理费：</span>
								<input value="" name=""/>
								<i>%</i>
							</li>
							<li class="">
								<span>一次收费：</span>
								<input value="" placeholder name=""/>
								<i>%</i>
							</li>
							<li>
								<span><b>*</b>还款种类：</span>
								<span class="fangshi"><i class="on"></i>等额本息</span>
								<span class="fangshi"><i></i>等额本金</span>
							</li>
							<li>
								<span> </span>
								<span class="start">开始计算</span>
								<span class="empty">清空重填</span>
							</li>
						</ul>
					</td>
					<!--中间竖线-->
					<td class="counter_center">
						<img src="images/center_line.jpg" alt=""/>
					</td>
					<!--右侧计算结果-->
					<td class="counter_right counter_right_width1" valign="top">
						<ul>
							<li class="title"><h2>计算结果</h2></li>
							<li class="clearfix">
								<h3>首月供：</h3>
								<span class="on">1050000</span>
								<i>元</i>
							</li>
							<li class="clearfix">
								<h3>月递减：</h3>
								<span class="on">14986</span>
								<i>元</i>
							</li>
							<li class="clearfix">
								<h3>总利息：</h3>
								<span>245000</span>
								<i>元</i>
							</li>
							<li class="clearfix">
								<h3>其他费用：</h3>
								<span>114000</span>
								<i>元</i>
							</li>
						</ul>
						<p class="note">*以上结果仅供参考</p>
					</td>
					<!--右侧还未计算时-->
					<td class="counter_right2 none">
						<img src="images/jisuan_right.png" alt="" class="" />
						<p>要贷款买房，赶紧算算吧！</p>
					</td>

				</tr>
			</table>				
		</div>
	<script type="text/javascript" src="js/jquery-1.7.1.min.js" ></script>
	<script type="text/javascript" src="js/index.js" ></script>
	</body>
</html>
